<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>赛奥科传媒管理系统亚马逊（MWS）每日报表</title>
</head>
<body>
<p style="color: #666; font-size: 16px;">尊敬的用户，您好！</p>
<p style="color: #666; font-size: 16px">您于 {{ $time }} 成功生成亚马逊每日报表，如下：</p>

<table width="1300" border="0" cellpadding="0" cellspacing="0" align="left" bgcolor="#ffffff" >
    <tr>
        <td>
            <h3>美国站</h3>
            <table border="1" cellspacing="0" cellspacing="0" style="border:1px solid #C1DBE2; margin-bottom: 5px;">
                <span>统计</span>
                <tr>
                    <td>日期</td>
                    <td>负责人</td>
                    <td>用于“销售额”的 SUM</td>
                    <td>用于“毛利”的 SUM</td>
                </tr>
                <tr>
                    <td>ww</td>
                    <td>aa</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <table border="1"  cellspacing="0" cellspacing="0" style="border: 1px solid #C1DBE2; margin-bottom: 15px;">
                <span>产品信息</span>
                <tr>
                    <td>日期</td>
                    <td>产品名</td>
                    <td>SKU</td>
                    <td>负责人</td>
                    <td>销量</td>
                    <td>毛利单价</td>
                    <td>销售额</td>
                    <td>毛利</td>
                    <td>转化率</td>
                    <td>PPC广告</td>
                    <td>Adwords广告</td>
                    <td>排名</td>
                </tr>
                <tr >
                    <td>2019/6/20</td>
                    <td>黑尺</td>
                    <td>0E-GHRL-QARM</td>
                    <td>包海琴</td>
                    <td>2.7</td>
                    <td>0.53</td>
                    <td>2.24</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
        </td>

    </tr>

</table>


</body>
</html>